---
import Layout from "../../layouts/Layout.astro";
import ListSNSLogin from "../../components/Login/ListSNSLogin";
---

<Layout title="ddddd">
  <h2>AUth index Page</h2>

  <ListSNSLogin client:only />
</Layout>
