---
import Layout from "../../layouts/Layout.astro";
console.log(Astro.cookies);
---

<Layout title="Register">
  <h2>Register</h2>
  <section class="section-userinfo">
    <h3>
      Welcome
      <strong>
        <p class="p-name">name</p>
      </strong>
    </h3>
    <p class="p-email">email</p>
    <p class="p-logintype">loginType</p>
  </section>

  <section>
    <h3>Privacy</h3>

    <div>
      <input
        type="checkbox"
        name="privacy-consent"
        value="privacyConsent"
        checked
      />
      <label for="privacy-consent">Privacy</label>
    </div>
    <ol></ol>
  </section>
  <section>
    <h3>Marketing</h3>
    <div>
      <input
        type="checkbox"
        name="marketing-consent"
        value="marketingConsent"
        checked
      />
      <label for="marketing-consent">Marketing</label>
    </div>
    <ol></ol>
  </section>
  <button class="btn-web-agreement">Submit</button>

  <script>
    import { userInfo } from "../../common/store/storeUser.ts";
    import { snsWebAgreement } from "../../http/auth/ApiUser.ts";

    const emailInfoP = document.querySelector(".section-userinfo .p-email");
    const nameInfoP = document.querySelector(".section-userinfo .p-name");
    const loginTypeInfoP = document.querySelector(
      ".section-userinfo .p-logintype"
    );
    emailInfoP.innerText = userInfo.get().email;
    nameInfoP.innerText = userInfo.get().name;
    loginTypeInfoP.innerText = userInfo.get().loginType;

    const webAgreementBtn = document.querySelector(".btn-web-agreement");

    webAgreementBtn.addEventListener("click", async () => {
      const checkboxes = document.querySelectorAll("input[type=checkbox]");
      let checkboxesResult = Array.from(checkboxes).reduce(
        (acc, currentValue, index) => {
          acc[currentValue.value] = currentValue.checked ? "Y" : "N";
          return acc;
        },
        {}
      );
      let userPatchParam = {
        ...userInfo.get(),
        ...checkboxesResult,
      };
      const patchUserWebAgreement = await snsWebAgreement(userPatchParam);
      window.location.href = "/";
    });
  </script>
</Layout>
