---
//@ts-nocheck

import Layout from "../../layouts/Layout.astro";
import ListGuestbook from "../../components/Guestbook/ListGuestbook";
---

<Layout title="guestbook">
  <h2>Guestbook</h2>
  <ListGuestbook client:only />
</Layout>
